*{
    font-family: 'Work Sans', sans-serif;
}
.nav-title{
    font-weight: 700;
font-size: 65px;
text-align: right;
color: #151414;
position: absolute;
font-style: normal;
line-height: 76px;
max-width: 525px;
max-height: 228px;
margin-left: 845px;
margin-top: 216px;
}
.nav-p{
    font-weight: 400;
font-size: 16px;
text-align: right;
color: #444343;
font-style: normal;
position: absolute;
max-width: 494px;
max-height: 78px;
margin-left: 876px;
margin-top: 468px;
}
.button-pri{
    background: #F15B22;
border-radius: 5px;
border: none;
padding: 20PX 25PX;
position: absolute;
max-width: 160px;
max-height: 64px;
margin-left: 1210px;
margin-top: 578px;
color: #FFFFFF;
font-weight: 600;
font-size: 20px;
}
main{
    position: absolute;
    max-width: 416px;
    max-height: 400px;
}
.about{
    position: absolute;
    width: 427px;
    height: 400px;
    margin-left: 862px;
    margin-top: 400px;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.section-des{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.section-list{
    position: absolute;
    gap: 10px;
    font-weight: 400;
font-size: 16px;
color: #444343;
}
.images{  
position: absolute; 
margin-left:269px;
margin-top:200px;
max-width: 451px;
max-height: 898px;
}
.plans{
position: absolute;
width: 1141px;
height: 299.96px;
padding: 18px;
margin-top: 1093px;
margin-left: 319px;
}
.plans-title{
    position: absolute;
    width: 179px;
    height: 47px;
    margin-left: 700px;
    margin-top: 1030px;
    font-weight: 700;
font-size: 40px;
color: #151414;
}
.skills-con{
display: flex;
gap: 24px;
}
.skill-title{
font-weight: 700;
font-size: 30px;
color: #151414;
text-align: center;
padding: 10px;
}
.skill-des{
font-weight:500px;
font-size: 25px;
color: #737272;
padding: 10px;
}
.banner{
max-width:1400px;
max-height:400px;
margin-left:230px;
margin-top:1500px;
position: absolute;
}
.banner-text{
position: absolute;
width: 459px;
height: 94px;
margin-left:160px;
margin-top:100px;
font-weight:700px;
font-size: 40px;
color: #FFFFFF;
}
.button-primary{
    background: #FFFFFF;
border-radius: 5px;
position: absolute;
width: 160px;
height: 64px;
margin-left:229px;
margin-top: 219px;
border: none;
color: #F15B22;
font-weight: 600;
font-size: 20px;
}
.footer{
 width: 1699px;
height: 577px;
margin-top: 1900px;
background: #151414;
padding: 16px;
position: absolute;
}
.footer-head{
font-weight: 700;
font-size: 45px;
color:#F8F8F8;
width: 148px;
height: 53px;
}
.footer-pera{
font-weight: 400px;
font-size: 16px;
color: #FFFFFF;
width: 485px;
height: 78px;
}
.footer-e{
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}
.footer-p{
 color: #FFFFFF;   
}
